.navbar-nav{
    position: absolute;
    right: 20px;
}

.nav-item{
    font-size: 20px;
    font-family:'Covered By Your Grace', cursive;
    padding: 35px;
}

.nav-item:hover{
    opacity: .5;
}

.img-fluid{
    height: 400px;
    transform: rotate(-8deg);
    width: 300px;
}